<ion-header>
  <ion-navbar>
    <ion-title>Kalendarz</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Projekt</ion-label>
        <ion-select [(ngModel)]="selectedProject">
          <ion-option *ngFor="let project of userProjects" value="{{project.title}}">{{project.title}}</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item *ngIf="selectedProject != null">
        <ion-label>Czynność</ion-label>
        <ion-select [(ngModel)]="selectedTask">
          <ng-container *ngFor="let project of userProjects">
            <ng-container *ngIf="project.title == selectedProject">
              <ion-option *ngFor="let task of project.tasks" value="{{task.task_title}}">{{task.task_title}}</ion-option>
            </ng-container>
          </ng-container>
        </ion-select>
    </ion-item>
  

    <ion-list *ngFor="let project of userProjects,let i = index">
      <ng-container *ngIf="project.title == selectedProject">
        <ion-list *ngFor="let task of project.tasks,let i = index">
          <ng-container *ngIf="task.task_title == selectedTask">
            <ion-grid>
              <ion-row>
                  <ion-col col-4>Data</ion-col>
                  <ion-col col-4>Czas(godz.)</ion-col>
                  <ion-col col-4>Edytuj</ion-col>
              </ion-row>
              <ion-row *ngFor="let dayTask of task.day_tasks">
                  <ion-col col-4>{{dayTask.date}}</ion-col>
                  <ion-col col-4>{{dayTask.time_spent}}</ion-col>
                  <ion-col col-4><ion-icon name="ios-create-outline" (click)="addDayTaskToUpdate()"></ion-icon></ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ion-list>
      </ng-container>
  </ion-list>
</ion-content>
