<ion-header>
  <ion-navbar>
    <ion-title>Zakończone czynności</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Projekt</ion-label>
        <ion-select [(ngModel)]="selectedProject">
          <ion-option *ngFor="let project of userProjects" value="{{project.id}}">{{project.name}}</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item *ngIf="selectedProject != null">
        <ion-label>Czynność</ion-label>
        <ion-select [(ngModel)]="selectedTask">
          <ng-container *ngFor="let task of userTasks">
                <ion-option *ngIf="task.projectId == selectedProject" value="{{task.taskId}}">{{task.name}}</ion-option>
          </ng-container>
        </ion-select>
    </ion-item>
  

            <ion-grid *ngIf="selectedProject != null && selectedTask != null"> 
              <ion-row>
                  <ion-col col-4>Data</ion-col>
                  <ion-col col-4>Czas(H:M)</ion-col>
                  <ion-col col-4>Edytuj</ion-col>
              </ion-row>
              <ion-row *ngFor="let dayTask of dayTasks">  
                  <ion-col col-4 *ngIf="dayTask['task'].projectId == selectedProject && dayTask['task'].taskId == selectedTask">{{dayTask['task'].date}}</ion-col>
                  <ion-col col-4 *ngIf="dayTask['task'].projectId == selectedProject && dayTask['task'].taskId == selectedTask && dayTask['update'] == null">{{dayTask['task'].time}}</ion-col>
                  <ion-col col-4 *ngIf="dayTask['task'].projectId == selectedProject && dayTask['task'].taskId == selectedTask && dayTask['update'] != null && dayTask['task'].time < dayTask['update'].time">{{dayTask['task'].time}} + {{dayTask['update'].time-dayTask['task'].time}}</ion-col>
                  <ion-col col-4 *ngIf="dayTask['task'].projectId == selectedProject && dayTask['task'].taskId == selectedTask && dayTask['update'] != null && dayTask['task'].time > dayTask['update'].time">{{dayTask['task'].time}} - {{dayTask['task'].time - dayTask['update'].time}}</ion-col>
                  <ion-col col-4 *ngIf="dayTask['task'].projectId == selectedProject && dayTask['task'].taskId == selectedTask"><ion-icon name="ios-create-outline" (click)="addDayTaskToUpdate(dayTask['task'].date,dayTask['task'].taskId,dayTask['task'].userId,dayTask['task'].projectId,dayTask['task'].time)"></ion-icon></ion-col>
              </ion-row>
            </ion-grid>
</ion-content>
