<ion-header>
  <ion-navbar>
    <ion-title>Edytuj {{task_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item> 
    Data rozpoczęcia: {{startDate}}
  </ion-item>
  <ion-item *ngIf="countMethod=='manual'"> 
      Spędzony czas: {{timeOfHours}} godzin {{timeOfMinutes}} minut.
  </ion-item>
  <!-- <ion-item *ngIf="countMethod=='automatic'"> 
      Spędzony czas: {{params.hours}} godzin {{timeOf}} minut.
  </ion-item> -->
  <ion-item *ngIf="countMethod=='manual'">  
      Ostatnia aktualizacja:<br> 
      {{updateDate}} o {{lastUpdateTime}} godzin.
  </ion-item>
  <form (ngSubmit)="updateTask()">
      <ion-item *ngIf="countMethod=='manual'"> 
          <ion-label floating>Aktualizuj czas</ion-label>
          <ion-input type="text" [(ngModel)]="updateTime" name="updateTime"></ion-input>        
      </ion-item>    
      <ion-item>
          <ion-label floating>Opis</ion-label>
          <ion-input type="text" [(ngModel)]="comment" name="comment" clearInput></ion-input>        
      </ion-item> 
    <button ion-button type="submit" disabled *ngIf="currentComment == comment && updateTime == undefined">Aktualizuj</button>
    <button ion-button type="submit" *ngIf="currentComment != comment || updateTime != undefined">Aktualizuj</button>
  </form>
</ion-content>

<!-- <ion-content padding *ngIf="taskToEdit.time != -1">
  <form (ngSubmit)="updatePastTask()">
    <ion-item> 
          <ion-label floating>Aktualizuj czas</ion-label>
          <ion-input type="text" [(ngModel)]="taskToEdit.time" name="updateTime"></ion-input>        
      </ion-item>    
      <ion-item>
          <ion-label floating>Opis</ion-label>
          <ion-input type="text" [(ngModel)]="taskToEdit.description" name="description" clearInput></ion-input>        
      </ion-item> 
    <button ion-button type="submit">Aktualizuj</button>
  </form>
</ion-content> -->
